[auth]
        type = OAUTH
[plugins]
        allowRemoteAdmin = true
[plugin "gerrit-oauth-provider"]
        enabled = true
[plugin "gerrit-oauth-provider-uac-oauth"]
        client-id = "your-client-id"
        client-secret = "your-client-secret"
        token-url = "http://localhost:8000/oauth/token"
        authorize-url = "http://localhost:8000/oauth/authorize"
        resource-url = "http://localhost:8000/api/user"
