[auth]
    type = OAUTH
[plugins]
    allowRemoteAdmin = true
[plugin "gerrit-oauth-provider-uac-oauth"]
    client-id = "your-client-id"
    client-secret = "your-client-secret"
    authorize-url = "http://YOUR_OAUTH_SERVER_IP:8000/oauth/authorize"
    token-url = "http://YOUR_OAUTH_SERVER_IP:8000/oauth/token"
    resource-url = "http://YOUR_OAUTH_SERVER_IP:8000/api/user"
